<footer class="footer">
  <div class="footer-content">
    <p>
      &copy; 2025 built by
      <a
        href="https://github.com/maximkwski"
        target="_blank"
        rel="noopener noreferrer"
        >maximkwski</a
      >
    </p>
  </div>
</footer>
