<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message details</title>
  </head>
  <body>
    <div id="message-details">
      User: <%= message.user %> Message: <%= message.text %> Added: <%=
      message.added %>
    </div>
  </body>
</html>
